<div style="position:fixed;overflow-x:hidden;" data-role="view" data-title="View" data-layout="main" data-model="app.privacidadView" data-show="app.privacidadView.onShow" data-after-show="app.privacidadView.afterShow" id="privacidadViewScreen" class="screen">
    <header data-role="header" style="background-color:#f6a426;">
        <div data-role="navbar" class="header-text insideHeader" style="background-image:linear-gradient(to right, #f6a426 0%, #ff8a00 100%);">
            <span style="display:grid;" class="titleHeader"></span>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
            <div style="margin-left:-30px;padding:20px 0px 0px;position:fixed;" class="insideHeader">
                <div class="col-xs-2 tac" onclick="javascript:gotoMenu();">
                    <img src="images/back-icon.png" style="margin-top:-6px;">
                </div>
                <div class="col-xs-10" style="text-align:center;">
                    AVISO DE PRIVACIDAD
                </div>
            </div>
        </div>
    </header>

    <!-- START_CUSTOM_CODE_privacidadView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <div class="grid" style="margin-top:20px;padding:20px;background-image:linear-gradient(to right, #f6a426 0%, #ff8a00 100%)">
        <div class="" style="padding-top:10px;">
            <p style="text-align:justify;color:white;">
El presente aviso de privacidad rige el tratamiento de
los datos personales por parte de Grupo GICSA SAB
de CV y empresas subsidiarias, en adelante “GICSA”,
con domicilio en Paseo de los Tamarindos 90, Bosques
de las Lomas, Paseo Arcos Bosques, Torre I, Piso 23,
C.P. 05120, Cuajimalpa de Morelos, México D.F. en los
términos previstos por la Ley Federal de Protección de
Datos Personales en Posesión de los Particulares y su
Reglamento, en adelante “LFPDPPP”.
I. Información que se recolecta y mecanismos para
su recolección
De acuerdo al Art. 8 de la LFPDPPP, GICSA podrá
recolectar y/o tratar datos personales (léase Art. 2,
apartado V de la LFPDPPP), entendiendo el
consentimiento tácito del titular para el tratamiento de
sus datos, cuando habiéndose puesto a su disposición
el presente aviso de privacidad, no manifieste su
oposición. Así mismo, se recolectará información
patrimonial y financiera, para la validación de solvencia
económica, gestión de crédito y cartera, en caso de
iniciar un proceso de prospección comercial, para lo
cual se requiere consentimiento expreso del titular.
Los datos personales referidos anteriormente podrían
ser recolectados mediante: i) correo electrónico; ii)
comunicación telefónica; iii) formularios embebidos en
páginas web oficiales de GICSA, iv) suministro
voluntario en entrevistas con personal autorizado de
GICSA; v) utilización de fuentes de acceso público y de
otras fuentes disponibles en el mercado.
II. Finalidades del tratamiento
Los datos personales serán procesados, según la
necesidad, para cumplir con las siguientes finalidades:
Acreditar la identidad del titular o de su representante
legal;
Gestionar y/o celebrar relación comercial de prestación
de servicios correspondiente (compra-venta,
comodatos y/o arrendamiento), incluyendo el proceso
de selección y contratación, así mismo se utilizarán
para actividades inherentes al arrendamiento;
Gestión de solicitudes de órdenes de contratación o
compra, así como recepción y pago de facturas y/o
recibos de honorarios;
Cumplir con los requerimientos legales que le son
aplicables;
Integrar y mantener actualizada una base de datos de
proveedores, clientes, garantizando una correcta
gestión de servicio a clientes, considerando también
las imágenes provistas por las cámaras de videovigilancia,
únicamente para fines de seguridad,
prevención de pérdidas y/o gestionar incidentes de
seguridad.
Envío de publicidad y avisos por correo directo o
electrónico, vía telefónica y física con fines
mercadotécnicos, lo anterior será enviado, a menos
que el Titular manifieste expresamente su oposición;
En caso necesario, se utilizará únicamente su nombre
para comunicación interna con en la empresa.
Las finalidades descritas en el numeral 2 y 3 anterior,
son necesarias y dan origen a la relación jurídica entre
el titular y GICSA.
III. Transferencia de datos
GICSA hace de su conocimiento que con el objeto de
cumplir con sus obligaciones contractuales,
administrativas, fiscales, civiles y/o mercantiles,
celebra diversos contratos con proveedores ubicados
tanto en territorio nacional como en el extranjero, para
ser suministrada de servicios que le permitan llevar a
cabo sus actividades. GICSA podrá transferir los datos
personales recolectados, con cualquiera de sus
empresas subsidiarias, las cuales comparten procesos
y políticas internas, para su gestión corporativa.
IV. Medidas para proteger los datos personales
Los datos personales tratados por GICSA se
encuentran protegidos por medidas de seguridad
administrativas, lógicas y físicas adecuadas contra el
daño, pérdida, alteración, destrucción o uso, acceso o
tratamiento no autorizados, de conformidad con lo
dispuesto en la LFPDPPP y su Reglamento.
V. Medios para hacer valer los Derechos ARCO
Usted tiene derecho de acceder, rectificar y cancelar
sus datos personales, así como de oponerse al
tratamiento de los mismos (siempre y cuando no refiera
al numeral 2 y 3 del apartado II), o revocar el
consentimiento que para tal fin nos haya otorgado.
Para conocer dichos procedimientos, sus requisitos y
plazos, sírvase poner en contacto con nuestro
Departamento de Protección de Datos Personales, vía
correo electrónico (protección.datos@gicsa.com.mx).
VI. Cambios al aviso de privacidad
Grupo GICSA podrá modificar su aviso de privacidad
con el objeto de instrumentar mejoras, incorporar
nuevas medidas previstas en la Ley, su Reglamento y
otras disposiciones normativas; mismas que estarán
disponibles en la página http://www.gicsa.com.mx/
VII. Consentimiento
En su carácter de Titular de los Datos o como su
Representante, usted proporciona su consentimiento
tácito para la recolección, tratamiento y transferencias
de sus datos personales en los términos del presente
aviso de privacidad al no objetar u oponerse al
contenido de este aviso de privacidad puesto a su
disposición en nuestro sitio web (http://
www.gicsa.com.mx/).
Fecha de actualización: 21 de Julio 2015
            </p>
        </div>
    </div>

    <!-- END_CUSTOM_CODE_privacidadView -->
</div>